.device-box {
  border: 1px solid @borders;
  border-radius: 0.5rem;
  
  padding: 1rem;

  margin: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  
  display: flex;
  flex-direction: column;
  background-color: @theme_unfocused_base_color
}

.flex-div {
  /* border: 2px solid blue; */
}

.right-box {
  /* border: 2px solid red; */
  margin: 0.75rem;
  width: 100%;
}

.package-box {
  padding: 2rem;
  /* border: 2px solid red; */
  margin: 0.25rem;
}

.partition-box {
  padding: 0rem;
  /* border: 2px solid purple; */
  margin: 0.25rem;
}


.form {
  margin: 0.75rem;
  padding: 2rem;

  /* border: 2px solid green; */
}


.main {
  width: 100%;
  height: 100%;
  margin: 1.5rem;
  /* border: 2px solid red; */
}


.slider-wrap {
  /* border: 2px solid red; */
}

dropdown {
  max-width: 32rem;
  width: 32rem;
  margin:1rem;
}

text {
  margin: 1rem;
  padding: 0.5rem;
  border: 1px solid @borders;
  border-radius: 0.25rem;
  background-color: @theme_unfocused_base_color
}


.device-elem {
 gap: 3rem;
 display: flex;
}

.device-label {

  margin-left: 1rem;
  margin-right: 1rem;
}

.device-check {
  margin-left: 1rem;
  margin-right: 1rem;
}



.form-label {
  margin-right: auto;
}

.form-input {
  margin: auto;
  float: right;
}
