.device-selector {
  border: 1px solid @borders;
  border-radius: 0.5rem;
  
  margin: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
  
  background-color: @theme_unfocused_base_color;

}

.device-element {
  border-radius: 0.5rem;
  margin: 0.5rem;
}

.device-element-p {
  margin: 0.5rem;
}

.swap-field {
  border: 1px solid @borders;
}

.right-box {
  /* border: 2px solid red; */
  margin: 0.75rem;

  padding-left: 2rem;
  margin-left: 1rem;
}

.device-button:hover {
  background-color: @theme_base_color;
}

.device-button {
  background-color: @theme_unfocused_base_color;
}


.package-box {
  padding: 1rem;
  /* border: 2px solid red; */
  margin: 1.25rem;
}

.partition-box {
  padding: 0rem;
  /* border: 2px solid purple; */
  margin: 0.25rem;
}

.form-section {
  margin-top: 0.82rem;
  display: flex;
  flex-direction: column;
}

.form {
  
  padding: 1rem;
  margin-right: 2.15rem;

  margin-right: 0.5rem;
  /* border: 2px solid green; */
}

.main {
  margin: 1.6rem;
  /* border: 2px solid red; */
}

.swap-scale {
  margin: 1rem;
}



dropdown {
  margin:1rem;
}

.section-title {
  font-size: 1.35rem;
  font-weight: bold;
  margin: 1rem;
  margin-left:0px;
}

.section-title-2 {
  font-size: 1.15rem;
  margin: 0.5rem;
  margin-left:0px;
}

text {
  margin: 1rem;
  padding: 0.5rem;
  border: 1px solid @borders;
  border-radius: 0.25rem;
  background-color: @theme_unfocused_base_color;
}

.device-label {
  margin-left: 1rem;
  margin-right: 1rem;
}

.device-check {
  margin-left: 1rem;
  margin-right: 1rem;
}